.l-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9000;
	height: rem(50);
	background-color: rgba(17, 17, 17, 0.5);
	transition: background-color 0.3s ease 0s;
	opacity: 0;
	transition: 1.2s;
}

/*bodyにappearクラスがついたら出現*/
body.appear .l-header {
	opacity: 1;
}