.p-content {
  position: relative;
}

.p-content__inner {
  position: relative;
  overflow: hidden;
  padding-top: rem(50);

  @include mq('md') {
    padding-top: rem(38);
  }
}

.p-content__head {
  @include mq('md') {
    max-width: 1280px;
    width: 100%;
    padding: 0 rem(90);
    margin: auto;
  }
}

.p-content__head h2 {
  position: relative;
  font-size: rem(20);
  font-weight: normal;
  letter-spacing: 0.1em;
  text-align: center;

  @include mq("md") {
    font-size: rem(30);
    letter-spacing: 0.067em;
  }
}

.p-content__head h2::after {
  position: absolute;
  content: "Content";
  top: rem(-50);
  left: 50%;
  transform: translateX(-50%);
  font-size: rem(50);
  letter-spacing: 0.04em;
  font-family: $second-font-family;
  color: rgba($color: $section-title, $alpha: 0.2);

  @include mq("md") {
    top: rem(-40);
    left: rem(-5);
    transform: initial;
    font-size: rem(110);
    letter-spacing: 0.03em;
  }
}

.p-content__maskWrapper {
	display: inline-block;
	// opacity: 0;
	position: relative;
	overflow: hidden;
}

.p-content__mask {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	transform: translateX(-100%);
	opacity: 0;
	z-index: 2;
}

.p-content__maskWrapper span {
	opacity: 0;
}

.p-content__imgboxs {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  margin-top: rem(48);

  @include mq('md') {
    margin-top: rem(44);
  }
}

.p-content__imgbox {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.p-content__img {
  width: 50%;
  height: auto;

  @include mq("md") {
    width: 25%;
  }
}

.p-content__link {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.p-content__link:hover {
  opacity: 1;
}

.p-content__link::before {
  content: "";
  display: block;
  padding-top: 89.36%;

  @include mq('md') {
    padding-top: 100%;
  }
}

.p-content__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-content__link span {
  font-size: rem(20);
  line-height: 1.5;
  letter-spacing: 0.1em;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  @include mq("md") {
    font-size: rem(25);
    letter-spacing: 0.08em;
  }
}

//背景マスク
.p-content__hovermask {
  @include mq('md') {
    opacity: 0; //この切替で表示非表示（非表示状態）
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba($color: #fff, $alpha: 0.6);
    transition: all 0.6s ease;
  }
}

.p-content__hovermask:hover {
  @include mq('md') {
    opacity: 1; //この切替で表示非表示（表示状態）
  }
}
